header {
  background: navy;
  color: white;
  font-family: "Walter Turncoat", sans-serif;
  font-size: 1.5em;
  padding: 20px;
  width: 100%;
  text-align: center;
  margin-top: -10px;
  margin-left: -10px;
  margin-bottom: 3em;
}

#outerDiv {
  text-align: center;
}

#outerDiv h1{
  font-family: "Walter Turncoat", sans-serif;
}

div.usernameInput {
  width: 50%;
  margin: 2.5em auto;
  font-family: "Amaranth", sans-serif;
  font-size: 1.5em;
  text-align: center;
}

input {
  width: 8em;
  height: 2em;
  font-family: "Amaranth", sans-serif;
  font-size: 20px;
  text-align: center;
}

input.usernameInput {
  width: 10em;
  height: 3em;
  font-family: "Amaranth", sans-serif;
  font-size: 28px;
  text-align: center;
  padding: 0;
}

#timelineContainer {
  border: solid black 2px;
  min-height: 300px;
  width: 90%;
  margin: 0 auto;
}

#timelineList{
  font-family: "Permanent Marker", sans-serif;
  font-size: 2em;
  list-style: none;
  text-align: center;
}

.writeAnswer{
  margin-left: 2em;
}

.questions {
  text-align: center;
  font-family: "Amaranth", sans-serif;
  padding-bottom: 3em;
  font-size: 1.5em;
}

#categories {
  list-style: none;
  padding-bottom: 2em;
}

#categories h3 {
  padding-top: 2em;
}

button{
  background: navy;
  color: white;
  height: 3em;
  width: 12em;
  font-size: 16px;
  font-family: "Amaranth", sans-serif;
  border-radius: 10px;
}